/* Login form */

#login-form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#login-form form {
	border: 1px solid #e4e4e4;
	padding: 20px;
	box-shadow: 4px 4px;
}

#login-form h1 {
	font-size: 4em;
	text-align: center;
}