/* Fonts */

@font-face {
	font-family: roboto;
	src: url(/tpl/fonts/roboto-regular.ttf);
}

/* Global */

* {
	padding: 0;
	margin: 0;
}

body, html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background: #222236;
}

h1, p, a {
	font-family: roboto;
	color: #e4e4e4;
}

/* Table */

table {
	color: #f5f5f5;
	border: 1px solid #acacac;
	border-collapse: collapse;
	font-family: "Roboto";
}

table tr,
table td {
	border: 1px solid #acacac;
	padding: 4px;
}

/* Header */

.header {
	background-color: #1a1a29;
}

.header > h1 {
	padding: 20px 80px;
	font-size: 48px;
}

/* Footer */

.footer {
	width: 100%;
	background-color: #1a1a29;
	display: flex;
	justify-content: center;
}

#footer-text {
	color: #acacac;
	padding: 30px 0;
}

/* Content */

.content {
	padding: 0 100px;
	min-width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Tablenav */

#table-nav > a {
	padding-right: 15px;
}

/* Tags */

.url-tag {
	padding: 0 4px;
	font-size: 12px;
	line-height: 12px;
	border: 1px solid black;
	border-radius: 7px;
	text-transform: capitalize;
}